.env
/resource/
node_modules
package-lock.json
/test-results/
/playwright-report/
/playwright/.cache/
/.temp
dbPrograms.json
program-details.json
occupations_response_dev.json
occupations_response_uat.json
README.md